<div id="cookie-consent-banner" style="display:none; position:fixed; bottom:0; left:0; right:0; z-index:9999; background:#222; color:#fff; padding:15px 20px; text-align:center;">
     <span>Používame cookies na zlepšenie fungovania stránky. Viac v <a href="/cookies" style="color:#f5c542;">Zásadách používania cookies</a> a <a href="/ochrana-osobnych-udajov" style="color:#f5c542;">Zásadách ochrany osobných údajov</a>.</span>
     <div style="margin-top:10px;">
          <button type="button" id="cookie-consent-accept" class="btn btn-default">Prijať všetky</button>
          <button type="button" id="cookie-consent-reject" class="btn btn-default">Odmietnuť</button>
     </div>
</div>
<script src="/assets/js/cookie-consent.js"></script>
