<div class="footer-legal wow fadeInUp" data-wow-delay="0.8s" style="margin-top:10px; font-size:12px; color:#ccc; text-align:center;">
     <p>ReDu Company s. r. o., IČO: 57695059, Cajlanská 1830/123, 902 01 Pezinok</p>
     <p>
          <a href="/ochrana-osobnych-udajov" style="color:#ccc; text-decoration:underline;">Zásady ochrany osobných údajov</a>
          &nbsp;|&nbsp;
          <a href="/cookies" style="color:#ccc; text-decoration:underline;">Používanie cookies</a>
          &nbsp;|&nbsp;
          <a href="#" id="cookie-consent-settings-link" style="color:#ccc; text-decoration:underline;">Nastavenia cookies</a>
     </p>
</div>
